/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

.main_content, .form-horizontal{
	margin-left: 2.5%;
}

.pyform{
	margin-left: 1.5%;
}
.col-sm-9{
	margin-left: 1%;
}

.btn.grayed{
	background-color: #dddddd;
}
.btn.grayed:hover, button:hover, [type=button]:hover, [type=submit]:hover {box-shadow:0 0 0px #666}

/* took this style from https://austinkellarmsi.pythonanywhere.com/hw4 */
.product-container {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    width: 800px;
    margin-bottom: 20px;
}

.product-top-row {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.prod_price {
    margin-left: 10px;
}

.product_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
