/* defined my own navy by using paint to get the rgb values 
 * then google to convert the rgb values to hex
 * followed the format of the colors defined in stupid.css
 */

.mynavy {
    background-color:#00305c;
    color:white;
}

.mymax{
    max-width: 1200px;
}

/*
 * I didnt like stupid.css p alignment
 */
p{
    text-align: left;
}

/*
 * source https://www.w3schools.com/css/css_border.asp
 */
.box {border:2px solid #000000;}

img.newsimage {
    height: 100px;
}


.newscolumn, .innercol {
    padding: 5px;
    margin: 10px;
    line-height: 150%;
}

div.newscolumn, div.newsbox {
    padding: 4px;
}

.bigtext {
	font-size: 140%;
	font-weight: bold;
}

.italic{
    font-style: italic;
}

.blacktext {
	color:black;
}

.newstitle { 
	font-size: 180%;
    padding: 5px;
    margin: 10px;
    font-weight: bolder;
}
    


.newsheading {
    font-size: 120%;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

/*
 * source: https://www.w3schools.com/cssref/pr_text_text-decoration.asp;
 */
.underlined{
    text-decoration: underline;
}

