/* defined my own navy by using paint to get the rgb values 
 * then google to convert the rgb values to hex
 * followed the format of the colors defined in stupid.css
 */

.mynavy {
    background-color:#00305c;
    color:white;
}

p{
    text-align: left;
}

.box {border:2px solid #000000;}

img.newsimage {
    height: 100px;
}


.newscolumn, .innercol {
    padding: 5px;
    margin: 10px;
}

div.newscolumn, div.newsbox {
    padding: 4px;
}

.bigtext {
	font-size: 150%;
	font-weight: bold;
}

.italic{
    font-style: italic;
}

.blacktext {
	color:black;
}

.newstitle { 
	font-size: 200%;
    padding: 10px;
    font-weight: bolder;
}

div.newsheading {
    font-size: 120%;
    padding: 10px;
    font-weight: bold;
}
